@model SoundFunding.Models.Cause
@{
    ViewBag.Title = Model.Name + " - SoundFunding.com";
}

<div class="container" style="margin-top:50px; background:#004C89;">
    <div class="top" style="background-image: url(@Model.Picture ?? @("/html/img/whale.jpg"); background-repeat: no-repeat; background-size: 100%">

    </div>
</div>

<div class="clear"></div>

<img src="@Model.SpotifyUserAvatarUrl" id="circle">

<div class="container">
    <div class="content clean">
        <h1>@Model.Name</h1>
        <p>@Model.Description</p>
        <p><strong>My charity</strong> @Model.ReceivingOrganization</p>

        <table width="100%">
            <tr>
                <td><span>Funded so far</span></td>
                <td>&nbsp;</td>
                <td><span>Status</span></td>
            </tr>
            <tr>
                <td><span>$@Model.GoalSum</span></td>
                <td>&nbsp;</td>
                <td><span>@(new Random().Next(0, 100))%</span></td>
            </tr>
            <tr>
                <td colspan=3>&nbsp;</td>
            </tr>
        </table>

        <div class="clear"></div>

        <div>
            <iframe src="https://embed.spotify.com/?uri=@Model.SpotifyPlaylistUri" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
        </div>
        
        <a href="/authorization/login?redirectUri=http://soundfunding.azurewebsites.net/Cause/Join/@Model.Id" class="button join">Join the cause</a>

        <div class="clear"></div>
    </div>
</div>

<div class="container" style="margin-top:100px;">
    <div class="content clean">
        @if (Model.Contributors != null && Model.Contributors.Any())
        {
            var random = new Random();
            foreach (var contributor in Model.Contributors)
            {
                var dim = random.Next(150, 275);
                <a href="#">
                    <img src="@contributor.ImageUrl" width="@dim" height="@dim" class="circle">
                </a>
            }
        }

        <div class="clear"></div>
    </div>
</div>
